.TablesContainer{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    position: relative;
}

.Tables{
    height: max-content;
    background: transparent;
    width: max-content;
    border-radius: 20px;
    box-shadow: 0px 5px 21px rgb(0 0 0 / 85%);
    padding: 10px;
    backdrop-filter: blur(15px);
    transition: 0.5s ease-in-out;
}

.green{
    border: 5px solid black;
    background: rgba(16, 192, 39, 0.7);

}
.red{
    border: 5px solid black;
    background: rgba(160, 7, 7, 0.7);
}

table,td,th{
    border: 1px solid black;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.Tables .Name {
    color: goldenrod;
    font-size: 25px;
    letter-spacing: 1.5px;
    font-weight: bold; 
}

th{
    color: black;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: bold; 
}

td{
    color: black;
    font-size: 15px;
    font-weight: bold; 
}

.Edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 15px;
}

.editButton{
    width: max-content;
    height : max-content;
    padding-inline: 4px ;
    background: teal;
    border-radius: 20px;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
    cursor: pointer;
   
}

.printButton{
    width: max-content;
    height : max-content;
    padding-inline: 4px ;
    background: rgb(18, 78, 156);
    border-radius: 20px;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold; 
    margin-top: 5px;
    padding: 7px;
}

.DeleteButton{
    width: max-content;
    height : max-content;
    padding-inline: 4px ;
    background: rgb(187, 10, 10);
    border-radius: 20px;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold; 
    margin-top: 5px;
    padding: 7px;
}

.Hide{
    display: none;
}

.TotalCost{
    width: max-content;
    height : max-content;
    padding-inline: 4px ;
    background: goldenrod;
    border-radius: 20px;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
    color: black;
    font-size: 15px;
    font-weight: bold; 
    margin-top: 5px;
    padding: 7px;
    margin-inline: auto;
}

.PrintDiv{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 200px;
    left: 0px;
    font-size: large;
    font-weight: bold;
    background-color: white;
    border: 5px solid orangered;
    border-radius: 20px;
    padding: 10px;
}

.RemoveTableDiv{
    display: flex;
    justify-content: space-around;
}

.SelectPrint{
    width: max-content;
    height : max-content;
    background: goldenrod;
    border-radius: 20px;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
    color: black;
    font-size: 15px;
    font-weight: bold; 
    padding: 7px;
}
.ModalSettingSucess{
    background-color: green;
    color: white;
}

@media screen and (max-width:1122px){
    .TablesContainer{
        grid-template-columns: repeat(1,1fr);
    }
    .Tables{
        width: 100%;
    }

}






